@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@500;700;800&display=swap');

* {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
  
  background-color: white;
}

nav {
  height: 60px;
  width: 100%;
  background-color: #FFF159;
  padding-top: 5px;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  font-weight: bold;
  display: inline-block;
  font-size: 30px;
  color: #000000;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.container .title {
    font-size: 3.5rem;
    color: black;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    border-radius: 5rem;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(247, 251, 8, 0.1);
    outline: .1rem solid black;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 5rem;
    
}

.container .products-container .product:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.container .products-container .product .img {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.img {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}


.container .products-container .product h3 {
    font-size: 16px;
    color: #444;
    padding: .5rem 0;
}

.container .products-container .product:hover h3 {
    color: #27ae60;
}

.container .products-container .product .price {
    font-size: 2rem;
    color: #444;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container .products-container .product .Qty{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.8rem;
  color: #444;
  border-radius: 5px;
  font-style: italic;

}

.container .products-container .product .addtocart{
  padding-left: 5px;
  padding-left: 5px;
  margin-top: 5px;
  border: none;
  background:  #a7ae276e;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2rem;
  color: #202020;

}

.mostrar-btn {
    flex: 1 1 16rem;
    padding: 1rem 2rem 1rem 2rem;
    background: orange;
    color: #fff;
    font-size: 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
}

.meli-btn {
    flex: 1 1 16rem;
    padding: 1rem 2rem 1rem 2rem;
    background: orange;
    color: black;
    font-size: 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
}

.currSign:before {
    content: ' $ ';
}

.currQty:before {
  content: ' Unidades Disponibles : ';

}

.box-productos {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box-productos div {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
}

.btnVolver {
    flex: 1 1 16rem;
    padding: 1rem 2rem 1rem 2rem;
    background: #122bc9ca;
    color: #fff;
    font-size: 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
}
